<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <img class="logo" src="assets/easy.png" />
  <br>
  <ion-input label="Email" label-placement="floating" fill="outline"
             [(ngModel)]="email" placeholder="example@gmail.com" type="email"></ion-input>
  <br>
  <ion-input label="Senha" label-placement="floating" fill="outline"
             [(ngModel)]="senha" type="password" minlength="6" maxlength="12"></ion-input>

  <ion-button expand="block" (click)="cadastrarUsuario()">Cadastrar</ion-button>
  <ion-button expand="block" color="medium" (click)="voltarHome()">Voltar</ion-button>
</ion-content>
