<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<img class="logo" src="assets/easy.png" />
<ion-input label="Nome Completo" label-placement="floating" fill="outline" placeholder=""></ion-input>
<br>
<ion-input label="Data de nascimento" label-placement="floating" fill="outline" placeholder="" type="date"></ion-input>
<br>
<ion-input label="Número" label-placement="floating" fill="outline" placeholder="(XX) XXXX-XXXX" maxlength="14" type="text"></ion-input>

</ion-content>

