<ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map" style="height: 70%;"></div>
  <!-- Botão flutuante de centralizar -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"  style="margin-bottom: 200px; margin-right: 320px;">
  <ion-fab-button color="primary" (click)="centerMapOnUser()">
    <ion-icon name="locate-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


  <div style="padding: 16px; text-align: center;">
    <!-- BOTÕES DE CONTROLE -->
     <ion-card>
  <ion-card-header>
    <ion-card-title>Configuração de Aviso</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">Avisar a cada</ion-label>
      <ion-input
        type="text"
        placeholder="Ex: 400m ou 0.4km ou 4km"
        [(ngModel)]="avisoTexto"
        (ionChange)="atualizarAviso()"
      ></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>



    <div *ngIf="!hasStarted">
      <ion-button expand="block" color="success" (click)="startRun()">
        <ion-icon name="play-outline" slot="start"></ion-icon>
        Começar corrida
      </ion-button>
      <ion-button expand="block" color="medium" (click)="goHome()">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        Sair
      </ion-button>
    </div>

    <div *ngIf="hasStarted">
      <div *ngIf="!isPaused">
        <ion-button expand="block" color="warning" (click)="pauseRun()">
          <ion-icon name="pause-outline" slot="start"></ion-icon>
          Pausar
        </ion-button>
        <ion-button expand="block" color="danger" (click)="stopRun()">
          <ion-icon name="stop-outline" slot="start"></ion-icon>
          Parar
        </ion-button>
      </div>

      <div *ngIf="isPaused">
        <ion-button expand="block" color="success" (click)="resumeRun()">
          <ion-icon name="play-outline" slot="start"></ion-icon>
          Retomar
        </ion-button>
        <ion-button expand="block" color="danger" (click)="stopRun()">
          <ion-icon name="stop-outline" slot="start"></ion-icon>
          Parar
        </ion-button>
      </div>
    </div>

    <!-- DADOS DA CORRIDA -->
    <div *ngIf="hasStarted" style="margin-top: 20px;">
      <h2>🏃 Corrida em andamento</h2>
      <p><strong>Tempo:</strong> {{ tempoDisplay }}</p>
      <p><strong>Distância:</strong> {{ distancia.toFixed(2) }} km</p>
      <p><strong>Pace:</strong> {{ paceDisplay }} min/km</p>
    </div>
  </div>
</ion-content>
