<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <img class="logo" src="assets/easy.png" />
  <h1>"Por que correr com a gente é mais fácil."</h1>
  <h1>Bem-vindo ao EasyRun!</h1>

  <ion-button expand="block"  (click)="goRun()">
    Correr
  </ion-button>

  <ion-button expand="block" class="btn-outline" routerLink="/historico">
  HISTÓRICO
</ion-button>
<ion-button expand="block" routerLink="/altersenha">
    Alterar senha
  </ion-button>

  <ion-button expand="block"(click)="logout()">
    Sair
  </ion-button>
</ion-content>
